.main-remodeling
  %h2
    ユーザー編集
  .main-remodeling_info
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email, class: 'main-remodeling_info_title'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'main-remodeling_info_box'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password, class: 'main-remodeling_info_title'
        %i (※パスワードを変更しない場合は空白で大丈夫です※)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: 'main-remodeling_info_box'
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            文字以上入力して下さい！
      .field
        = f.label :password_confirmation, class: 'main-remodeling_info_title'
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'main-remodeling_info_box'
      .field
        = f.label :current_password, class: 'main-remodeling_info_title'
        %i (※ユーザー情報変更時パスワード入力して下さい※)
        %br/
        = f.password_field :current_password, autocomplete: "current-password", class: 'main-remodeling_info_box'
      .main-remodeling_info_actions
        = f.submit "更新する", class: 'main-remodeling_info_btn'
    .main-remodeling_info_del
      %h3 ⇩ 退会する方は下記ボタンを押して下さい ⇩
      %p
        #{button_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会しても大丈夫ですか?" }, method: :delete, class: 'main-remodeling_info_btn'}
      = link_to "戻る", :back, class: 'main-remodeling_info_back'
