<div class="main-sign">
  <h2>ユーザー登録</h2>

  <div class='sign-in'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <div class='nickname'>
          <%= f.label "ニックネーム" %><br />
          <%= f.text_field :nickname, autofocus: true, class: 'box', placeholder:'名前を入力してくだい' %>
        </div>
      
      <div class="field">
        <div class='email'>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'box', placeholder:'アドレスを入力してください' %>
        </div>
      </div>

      <div class="field">
        <div class='password'>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'box', placeholder:'パスワードを入力してくだい' %>
        </div>
      </div>

      <div class="field">
        <div class='password2'>
          <%= f.label "Password(確認)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'box', placeholder:'もう一度入力してください' %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "登録",class: 'btn' %>
      </div>
    <% end %>
</div>
