.main-login
  .login_log
    ログイン
  .log-in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        .log-in_email
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Emailを入力してください', class: 'log-in_text_box'
      .field
        .log-in_password
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password", placeholder:'パスワードを入力してくだい', class: 'log-in_text_box'
      .actions
        = f.submit "ログイン", class: 'log-in_btn'
