= image_tag 'image8.jpg', class: 'main-image2'

.post-main
  %h1 投稿編集
  = form_for @plan do |f|
    %table
      %tr
        %th
          = f.label 'タイトル', class: 'post-main_logo'
        %th
          = f.text_field :title, class: 'post-main_title'
          
      %tr
        %th
          = f.label '日時', class: 'post-main_logo'
        %th
          = f.datetime_select :start_time, class: 'post-main_time'

      %tr
        %th
          = f.label '画像', class: 'post-main_logo'
        %th 
          #img_field{:onclick => "$('#file').click()"}
            - if @plan.image.present?
              = image_tag @plan.image.url, size: '200x150'
            - else
              %i.fas.fa-image
              %i.fas.fa-file-upload.add
          // id "file"をつけ、「display:none;」で隠す
          =f.file_field :image, class: "image", style: "display:none;", id: "file"

      %tr
        %th
          = f.label '内容', class: 'post-main_logo'
        %th
          = f.text_area :content, class: 'post-main_content'

    = f.submit '更新', class: 'post-main_btn'