= image_tag 'image3.jpg', class: 'main-image2'
.post-main
  %h1 新規投稿
  = form_for @plan do |f|
    %table
      %tr
        %th
          = f.label 'タイトル'
        %th
          = f.text_field :title, class: 'post-main_title'

      %tr
        %th
          = f.label '画像'
        %th 
          #img_field{:onclick => "$('#file').click()"}
            - if @plan.image.present?
              = image_tag @plan.image
            - else
              %i.fas.fa-image
              %i.fas.fa-file-upload.add
          // id "file"をつけ、「display:none;」で隠す
          =f.file_field :image, class: "image", style: "display:none;", id: "file"

      %tr
        %th
          = f.label '内容'
        %th
          = f.text_area :content, class: 'post-main_content'

      %tr
        %th
          = f.label '日時'
        %th
          != sprintf(f.date_select(:start_time, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
    = f.submit '登録', class: 'post-main_btn'
