%h1 タイトル
= @plan.title

%h1 時間
= @plan.start_time.strftime("%Y-%m-%d %H:%M")

%h1 内容
= @plan.content

%h1 画像
= image_tag @plan.image.to_s

= link_to '編集', edit_plan_path(@plan) |
= link_to '戻る', plans_path
= link_to '削除',plan_path(@plan), method: :delete, class: 'main-logo_btn', data: { confirm: '本当に消して大丈夫ですか?' }
