= image_tag 'image10.jpg', class: 'main-top'

.main-info
  .main-info_sel
    .main-info_sel_content
      内容詳細
    = link_to '編集', edit_plan_path(@plan), class: "main-info_sel_btn"
    = link_to '戻る', plans_path, class: "main-info_sel_btn"
    = link_to '削除',plan_path(@plan), method: :delete, class: 'main-info_sel_btn', data: { confirm: '本当に消して大丈夫ですか?' }

  %table
    %tr
      %th
        .main-info_title
          タイトル
      %th
        = @plan.title

    %tr
      %th
        .main-info_title
          日時
      %th
        = @plan.start_time.strftime("%Y年%m月%d日 %H:%M")

    %tr
      %th
        .main-info_title
          画像
      %th
        -if  @plan.image.present?
          = image_tag @plan.image.to_s, class: "main-info_image"
        - else
          = image_tag "image1.png", class: "main-info_image"

    %tr
      %th
        .main-info_title
          内容
      %th
        .main-info_message
          =simple_format(@plan.content)