!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 毎日日記
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/notifications'
    %header.header
      .header__title
        = link_to "毎日日記", root_path, class: "header__title__text"
      .header__right
        - if user_signed_in?
          = link_to edit_user_registration_path, class: "header__right__icon" do
            = icon('fas', 'users-cog')
          = link_to destroy_user_session_path, method: :delete, class: "header__right__icon" do
            = icon('fas', 'door-open')
          = link_to  new_plan_path, class: "header__right__icon" do
            = icon('fas', 'pencil-alt')
          = link_to  list_index_plans_path, class: "header__right__icon" do
            = icon("fas", "list-ul")
          =current_user.nickname
        - else
          = link_to "ログイン", new_user_session_path, class: "header__btn"
          = link_to "新規登録", new_user_registration_path, class: "header__btn"
    = yield
